body{
  display: grid;
  place-items: center; 
  height: 100vh;
  margin: 0;
}

.icon {
    width: 32px;
    height: 32px;
    color: white;
    background-color: #155dfc;
    padding: 12px;
    border-radius: 14px;
    margin-right: 13px;

}

.help {
    display: flex;
    justify-content: center;

}

.help h1 {
    color: #0a0a0a;
    font-size: 32px;
    position: relative;
    top: -12px;
}


.card-form{
   box-shadow: 0 0 50px rgba(21, 93, 252, 0.3);
   padding: 3px 20px 20px 20px;
   width: 100%;
   border-radius: 14px;

}



.card-form button{
    background-color: #155dfc;
    color: white;
    margin-top: 15px;
}


.card-form h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;

}

.card-form p {
    color: #717182;
    margin-bottom: 25px;
}

label {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: -10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.input-with-icon {
    position: relative;
    display: flex;

}

.input-with-icon input {
    width: 100%;
    padding-left: 36px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.input-with-icon svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #9ca3af;
    pointer-events: none;
}